.chat-message--friend,
.chat-message {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 0.8fr 5.2fr;
  align-items: center;
  padding-left: 0.1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  min-width: 20%;
  max-width: 60%;
  height: 3rem;
  background: var(--color1);
  border-radius: 1.5rem;
}
.chat-message__box {
}
.chat-message__avatar--friend,
.chat-message__avatar {
  font-size: 2.5rem;
  text-align: start;
}
.chat-message__avatar {
  color: var(--color2);
}
.chat-message__text--friend,
.chat-message__text {
  text-align: start;
  font-size: 0.9rem;
}
.chat-message__text {
  color: var(--color2);
}

.chat-message--friend {
  align-self: flex-end;
  margin-right: 1rem;
  background: var(--color4);
}
