.connection-lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  height: 93vh;
  /* margin-top: 1rem; */
}

.connection-lobby__actions {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  height: 100%;
  width: 21rem;
  /* width: 50%; */
}
.connection-lobby__connected {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 21rem;
  /* height: 50%; */
  /* width: 50%; */
}

.connection-lobby__info {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  width: 65%;
}

.connection-lobby__text {
  width: 33%;
  margin-top: 1rem;
}
.connection-lobby__banner-text {
  padding-top: 1.5rem;
  margin: 0 1rem;
}

.connection-lobby__friend {
}

.connection-lobby__avatar {
  cursor: pointer;
  height: 18rem;
  margin: 2rem 0;
}

.connection-lobby__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.connection-lobby__bio {
  margin-bottom: 0.5rem;
}

.connection-lobby__help {
  margin-top: 16rem;
  justify-self: flex-end;
  cursor: pointer;
}
.connection-lobby__help:hover {
  text-shadow: 0px 0.5px 1px var(--color4);
}
