.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.profile__text {
  color: var(--color6);
  width: 30%;
  text-align: left;
  margin-bottom: 1rem;
}

.profile__avatar {
  width: 20rem;
  margin-bottom: 1rem;
}

.profile__divider {
  width: 50%;
  margin: 1rem auto;
  height: 2px;
  background: var(--color4);
  border: none;
}
