@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Ubuntu:wght@300;400&family=Work+Sans:ital,wght@0,300;0,400;1,200&display=swap');
:root {
  --color1: #f7f7f9;
  --color2: #2b2d42;
  /* --color3: #ff7f11; */
  --color3: #f7e733;
  --color4: #e86a92;
  --color5: #6ba292;
  --color__white: white;
  --color__black: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color__white);
}

body {
  margin: 0;
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  /* font-family: 'Work Sans', sans-serif;   */
  font-weight: 300;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #3b28cc; */
  /* background: #2667ff; */
  background: var(--color2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
