.settings {
  /* width: 80%; */
  margin: 0 auto;
  /* margin-top: 1rem; */
}
.settings__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.settings__container {
  border-radius: 2rem;
  /* background: lightgray; */
  /* background: var(--color__black); */
  display: grid;
  padding-top: 0.5rem;

  grid-template-columns: 1fr 6fr;
  grid-template-areas:
    'category__title category__title'
    'settings__categories settings__options'
    'settings__categories settings__options';
}

.settings__categories {
  grid-area: settings__categories;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* background-color: var(--color1); */
}

.category__container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-bottom: 0.5rem;
}
.category__icon {
  text-align: start;
  margin: 0 0.5rem;
}
.category__description {
}

.category__title {
  grid-area: category__title;
  padding-bottom: 1rem;
}

.settings__options {
  grid-area: settings__options;
  padding-bottom: 0.5rem;
  /* display: grid;
  grid-template-rows: 2fr 8fr; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.option {
}

.settings__input {
  width: 60%;
}
.settings__button {
  margin: 0 auto;
  margin-top: 2rem;
}
