.navbar {
  background-color: transparent;
  padding: 1rem 0;
  z-index: 2;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  z-index: 2;
}
.navbar__container--authenticated {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  z-index: 2;
}
.navbar__actions {
  z-index: 2;
  display: flex;
}

.navbar__logo {
  justify-self: center;
  align-self: center;
  text-decoration: none;
  z-index: 2;
}
.navbar__settings {
  text-decoration: none;
  z-index: 2;
}
.navbar__settings__span {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  color: white;
}
.navbar__link,
.navbar__link--auth {
  text-align: center;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  z-index: 2;
  cursor: pointer;
}
.navbar__link--auth {
  margin: 0 0.5rem;
}

.navbar__register {
  z-index: 2;
  outline: none;
  border: 2px solid var(--color4);
  color: var(--color4);
  width: 6rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 5px;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
