.navbar {
  background-color: transparent;
  padding: 1rem 0;
  z-index: 2;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  z-index: 2;
}
.navbar__container--authenticated {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  z-index: 2;
}
.navbar__actions {
  z-index: 2;
  display: flex;
}

.navbar__logo {
  justify-self: center;
  align-self: center;
  text-decoration: none;
  z-index: 2;
  width: 135px;
}
.navbar__icon-container {
  text-decoration: none;
  z-index: 2;
}
.navbar__icon {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
  color: white;
}
.navbar__icon:hover {
  text-shadow: 0px 0.5px 1px var(--color4);
}
.navbar__link,
.navbar__link--auth {
  text-align: center;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
}
.navbar__link--auth {
  margin: 0 0.5rem;
}

.navbar__link:hover,
.navbar__link--auth:hover {
  text-shadow: 0px 0.5px 1px var(--color4);
}
