.friend-profile {
  display: flex;
  flex-direction: column;
  user-select: none;
}
.friend-profile__avatar {
  /* font-size: 9rem; */
  color: var(--color2);
  cursor: pointer;
  height: 11rem;
}
.friend-profile__bio,
.friend-profile__username {
  margin-top: 0.5rem;
  color: var(--color2);
}
.friend-profile__username {
  cursor: pointer;
}
