.connection {
  height: 95vh;
  /* height: calc(100vh - 4.2rem); */
  display: grid;
  grid-template-columns: 0.5fr 8.5fr 3fr;
}

.connection__main {
  /* display: flex;
  flex-direction: column; */
  display: flex;
  flex-direction: column;
  /* height: 99%; */
  background: var(--color__white);
}

.local-video-wrap {
  /* flex: 1;
  position: relative; */
}
.video-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: repeat(8, 1fr);
}

.local-video {
  justify-self: center;
  align-self: center;
  grid-column: 7/9;
  grid-row: 6/9;
  object-fit: cover;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--color1);
  border-radius: 5px;
}
.remote-video {
  /* grid-column: 1/3;
  grid-row: 1/3; */
  grid-column: 1/9;
  grid-row: 1/9;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  /* border: 1px solid var(--color2); */
  /* border: 1px solid var(--color1); */
  border-radius: 5px;
  object-fit: contain;
  /* align-self: center;
  object-fit: contain;
  height: 50%;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2); */
}

.remote-video-wrap {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.remote-video--disabled {
  width: 0;
  height: 0;
  display: none;
}

/*  */
/*  */
/* .connection {
  height: 95vh;
  height: calc(100vh - 4.2rem);
  display: grid;
  grid-template-columns: 0.5fr 8.5fr 3fr;
}

.connection__main {

  display: flex;
  flex-direction: column;
  background: var(--color__white);
}



.local-video-wrap {
  flex: 1;
  position: relative;
}

.local-video {
  position: absolute;
  border: 1px solid #cddfe7;
  bottom: 46%;
  right: 25%;
  box-shadow: 0px px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 14rem;
  height: 10rem;
  object-fit: cover;
}

.video-container {
  height: 50%;
  width: 100%;
}

.remote-video-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.remote-video {

  align-self: center;
  object-fit: contain;
  height: 50%;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

}
.remote-video--disabled {
  width: 0;
  height: 0;
  display: none;
} */
