.chat {
  background: white;
  display: grid;
  grid-template-rows: 9fr 1fr;
}
.chat__messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.chat__messages {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  /* align-items: center; */
}
