.chat {
  background: white;
  display: grid;
  grid-template-rows: 85% 15%;
  overflow: hidden;
  user-select: none;
}
.chat__container {
  overflow-y: scroll;
}
.chat__messages {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 80%;
  /* min-height: 30rem; */
  height: 80vh;
  margin: 0 auto;
}

.chat__container::-webkit-scrollbar {
  background-color: white;
}
.chat__container::-webkit-scrollbar-thumb {
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: var(--color4);
}
.chat__container::-webkit-scrollbar-track {
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}
