.navbar {
  background-color: transparent;
  /* background: #2667ff; */
  /* background: white; */
  /* margin-top: 1rem; */
  padding: 1rem 0;
  z-index: 2;
  /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* vertical-align: middle; */
  /* padding: 1.5rem 1rem; */
  width: 50%;
  margin: 0 auto;
  z-index: 2;
}
.navbar__actions {
  z-index: 2;
}

.navbar__logo {
  justify-self: center;
  align-self: center;
  text-decoration: none;
  z-index: 2;
  /* margin: 0rem 1rem; */
  /* color: black; */
  /* color: white; */
}
.navbar__settings {
  text-decoration: none;
  z-index: 2;
  /* margin: 0rem 1rem; */
  /* color: black; */
  /* color: white; */
}
/* .navbar__login {
  text-decoration: none;
  margin: 0rem 1rem;
} */
.navbar__link {
  text-align: center;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  z-index: 2;
  /* margin: 0rem 0.5rem; */
  /* vertical-align: middle; */
}

.navbar__register {
  z-index: 2;
  outline: none;
  border: 2px solid var(--color4);
  color: var(--color4);
  width: 6rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 5px;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
